# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\src\hive_udf_custom\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
